<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body class="container">
    <header></header>

    <main>
      <div class="users">
        <h1>Users</h1>

        <%- include('../partials/list'); %>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
